@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arizonia';
  font-size: 22px;
}
header{
  margin: 0;
  font-family: Arizonia;
  color: black;
  
}
#showcase {
  background-image: url('../img/paint.jpg');
  background-size: cover;
  background-position: center;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
#showcase h1 {
  font-size: 100px;
  line-height: 1;
}
#showcase p{
  font-size: 30px;
  /* color: white; */
}
/* -----Nav Bar----- */

 .button-1, .button-2, .button-3, .button-4{
  font-size: 25px;
  text-decoration: none;
  /* color: black; */
  border: black 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.8s;

}
 .button-1:hover, .button-2:hover, .button-3:hover, .button-4:hover{
  background: white;
  /* color: black; */

}

.button-1 a, .button-2 a, .button-3 a, .button-4 a{
  text-decoration: none;
  color: black;

}
/* ------End Nav---- */

p {
  font-family: 'Raleway', serif;
  color:#2C2C2C;
  font-size: 75%;
  line-height: 180%;
  text-align: justify;
  font-weight: 300;
}
img{
  text-align: center;
  max-width: 100%;
  height: 90%;
  width: 90%;
  clear: both;
}
.sidebar {
  width: 26%;
  float: left;
  margin: 4%;
  clear: both;
}
#slider {
  overflow: hidden;
  clear: both;

}
#slider figure{
  position: relative;
  width: 50%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.contact p {
text-align: center;
clear: both;
}
.break {
  display: inline;
}

.parallax {
  background: url(../img/paint.jpg);
  min-height: 400px;
opacity: .5;
position: relative;
background-size: cover;
background-attachment: fixed;
clear: both;
}
.parallax-inner {
  padding-top: 17%;
  clear: both;
}
.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.fab{
  font-size: 2em;
  margin: 1% 5% 7% 4%;
  color: #000;
}
.social i:hover {
  color: red;
}
footer.second {
  background-color: #2C2C2C;
  position: relative;
  clear: both;
}
footer.second p {
  color: white;
  text-align: center;
  margin: 0;
}
/* - Start Contact CSS-- */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
