.body {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
}
.header {
    background-color: #666;
    padding: 30px;
    
  }
  .h1 {
        /* color: #000000; */
        font: Abril Fatface 75px;
        text-align: center;
    font-size: 35px;
    color: white;
  }
 
